<footer class="footer">
        <div class="row copyright">
				<div class="col-md-12 text-center">
						<small class="block">&copy;copyright 2019 unstoppables</small>&nbsp;&nbsp;
						<small class="block">Designed by <a href="#" target="_blank">&nbsp;vignesh G R</a> </small>&nbsp;
		<a href="#"><i class="icon-twitter"></i></a>&nbsp;
		<a href="#"><i class="icon-facebook"></i></a>&nbsp;
		<a href="#"><i class="icon-linkedin"></i></a>&nbsp;
        <a href="#"><i class="icon-dribbble"></i></a>&nbsp;
    </div>
</div>
</footer>