<!-- <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Fun TECH Talk</h1>
							<h2>We can't solve problem by using the same kind of thinking we used, </h2>
							<h2>when we are created them</h2>
							<p><a class="btn btn-primary btn-lg btn-demo" href="teams.html"> View Teams</a> <a class="btn btn-primary btn-lg btn-learn" href="events.html">View events</a></p> -->
						<!-- </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	<div id="fh5co-wireframe">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Tech Talk used to attract people to share their Knowledge</h2>
				 </div>
			</div>
			<div class="row">
				<div class="col-md-5 animate-box">
					<div class="user-frame">
						<h3>Tech Talk used to attract people to share their Knowledge</h3>
						<p>We used to share Knowledge in the Way of Fun</p>
						<span>Dream Catchers</span><br>
						<small>-----</small>
					</div>
				</div>
				<div class="col-md-7 animate-box">
					<p>Technology is becoming more and more important as we move forward, and it is changing our lives in ways that were unimaginable before. Trends such as the Internet of Things are enabling us to monitor and control our environment like never before. Machine learning is enabling computers to decide like—and sometimes better—than humans. End-to-end encryption is giving us (back) privacy that can’t be undermined. Bitcoin and blockchain are revolutionizing the payment industry and domains beyond. Virtual and augmented reality are transforming a host of industries by enhancing the human experience. </p>
					<blockquote>
						<p>This is just a glimpse of where technology stands today. A whole lot of exciting opportunities are waiting beyond the horizon. </p>
					</blockquote>
					<p>At Tech Talks, we examine trends in technology, how they affect the way we live and do business, and the problems they solve. But we also discuss the evil side of technology, the darker implications of new tech and what we need to look out for. </p>
				 </div>
			</div>
		</div>
	</div>
 -->
 <!-- <div *ngFor = 'let user of users' style="text-align:center">
    <p> {{user.id}} - {{user.empname}} - {{user.empID}} - {{user.designation}} - {{user.team_name}} - {{user.bu}}</p>
</div> -->
<!-- <div class="container">
    <label>
      Email:
      <input type="text" [formControl]="name">
    </label>
    <p>
      Value: {{ name.value }}
    </p>
</div> -->

<router-outlet></router-outlet>