
<div class="overlay"></div>
<div class="container">
	<div class="h-100 row align-items-center">
			<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-t js-fullheight animatebox" data-animate-effect="fadeIn" style="">	
							<h1>Fun TECH Talk</h1>
							<h2>We can't solve problem by using the same kind of thinking we used, </h2>
							<h2>when we are created them</h2>
							
							<p><a class="btn btn-primary btn-lg btn-demo"  [ngStyle]="{'color': color, 'font-size': size, 'font-weight': 'bold'}" routerLink="/meet" ><i>MeeT ThE TeaM</i></a></p>
						
						</div>
					</div>
			</div>
		</div>
	</div>

<router-outlet></router-outlet>