<!-- <div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading"> -->
					<h2>Meet THE Team</h2>
					<p>Tech Talk is not only Knowledge transfer session, Major reason to conncet the people with fun filled activity </p>
					<h3>AvengerS</h3>
				<!-- </div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/user-1.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Suganya Venkatachalam</h3>
							<p>Product manager</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/user-1.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Navaneethan Ganesh</h3>
							<p>Spartans Team Lead</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/shakie.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Sheikabdullah Mohammed Ali Jinna</h3>
							<p>Spartans Team Lead</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/user-1.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Vaishnavi Annamalai</h3>
							<p>QA Engineer</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/naresh.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Naresh Muguran Shanmugam</h3>
							<p>________</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/riviera.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Mohana Kesavalu</h3>
							<p>Senior Software Developer</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>

				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/user-1.jpg);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Chandrasekar Karuppathevan</h3>
							<p>Techinical Lead</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/user-1.png);"></a>
						<div class="blog-text"> -->
							<span class="posted_on">Tech Talk 2.0</span>
							<h3>Siva Murugesa Pandian</h3>
							<p>__________</p>
							<p>CHC</p>
							<p>Innova Solutions</p>
							<p>Chennai</p>
						<!-- </div> 
					</div>
				</div>
			</div>
		</div>
	</div> -->