
    <div style="min-height: 900px; background-color: rgb(230, 230, 230);">
    <div class="form-group col-md-5" style="margin-left: 20px;">
            <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                <h1>Topic : {{users[0].title}}</h1>
                <h1>AVENGERS</h1>
                <div class="form-group">
                    <label>Presentation had effective visual aids:</label>
                    <br>
                    <ngb-rating [(rate)]="value1"></ngb-rating>
                    <hr>
                    <label>The Presentation was concise and very informative:</label>
                    <br>
                    <ngb-rating [(rate)]="value2"></ngb-rating>
                    <hr>
                    <label>The presentation had some Technical depth:</label>
                    <br>
                    <ngb-rating [(rate)]="value3"></ngb-rating>
                    <hr>
                    <label>The presenter enthusiasm engaged the audience to a greater extent:</label>
                    <br>
                    <ngb-rating [(rate)]="value4"></ngb-rating>
                    <hr>
                    <label>Do you feel the topic is relevant to the Project ?</label>
                    <br>
                    <ngb-rating [(rate)]="value5"></ngb-rating>
                    <hr>
                    <label>How well the presenter interacted with the audience ?</label>
                    <br>
                    <ngb-rating [(rate)]="value6"></ngb-rating>
                    <hr>
                    
                </div>
            </form>
        </div>
        <div class="form-group col-md-6" style="margin-left: 90px;">
                <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                        
                                <h1>Topic: {{users[1].title}}</h1>
        
                    <h1>UNSTOPPABLE</h1>
                    <div class="form-group">
                            <label>Presentation had effective visual aids:</label>
                            <br>
                            <ngb-rating [(rate)]="value7"></ngb-rating>
                            <hr>
                            <label>The Presentation was concise and very informative:</label>
                            <br>
                            <ngb-rating [(rate)]="value8"></ngb-rating>
                            <hr>
                            <label>The presentation had some Technical depth:</label>
                            <br>
                            <ngb-rating [(rate)]="value9"></ngb-rating>
                            <hr>
                            <label>The presenter enthusiasm engaged the audience to a greater extent:</label>
                            <br>
                            <ngb-rating [(rate)]="value10"></ngb-rating>
                            <hr>
                            <label>Do you feel the topic is relevant to the Project ?</label>
                            <br>
                            <ngb-rating [(rate)]="value11"></ngb-rating>
                            <hr>
                            <label>How well the presenter interacted with the audience ?</label>
                            <br>
                            <ngb-rating [(rate)]="value12"></ngb-rating>
                            <hr>
                            
                        </div>
                        
                </form>
            </div>
        <label>Submitter Name</label>
        <input type="text" name="value13" [(ngModel)] = "value13"><br>
                            <button class="btn btn-primary" (click) = "save()" >submit</button>    
                            </div>

   

    
    <router-outlet></router-outlet>