<div class="container-fluid">
		<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

			<div class="form-group">
				<label>Presentation had effective visual aids</label>
                <input type="number" class="form-control is invalid" name="feedback1" [(ngModel)]="value1">
                <label>The Presentation was concise and very informative</label>
                <input type="number" class="form-control is invalid" name="feedback2" [(ngModel)]="value2">
                <label>The presentation had some Technical depth</label>
                <input type="number" class="form-control is invalid" name="feedback3" [(ngModel)]="value3">
                <label>The presenter enthusiasm engaged the audience to a greater extent</label>
                <input type="number" class="form-control is invalid" name="feedback4" [(ngModel)]="value4">
                <label>Do you feel the topic is relevant to the Project ?</label>
                <input type="number" class="form-control is invalid" name="feedback5" [(ngModel)]="value5">
                <label>How well the presenter interacted with the audience ?</label>
                <input type="number" class="form-control is invalid" name="feedback6" [(ngModel)]="value6">
                
			</div>
		</form>
	</div>
	
    <button class="btn btn-primary" (click) = "save()" >submit</button>
    
    <router-outlet></router-outlet>