
<div style="min-height: 750px; background-color: rgb(230, 230, 230);">
<h1 style="text-align: center;"> Tech Talk 2.0 Rules</h1>
<table align="center" style="margin-top: 100px;">
    <tr>
        <th>s. no</th>
        <th style="text-align: center;"> Rules</th>
    </tr>

<tr>
    <td>1</td>
    <td>Toss will happen with captains, winning captain will choose to present or ask opponent to present <br> (in which case winning captain will decide when powerplay to be conducted).</td>
</tr> 
<tr>
    <td>2</td>
    <td>Every presenter will be given 45 min timer ( incl. 5 min powerplay)</td>
</tr>
<tr>
    <td>3</td>
    <td>Each team will play 2 min video trailer of any movie which they would like to suggest for weekend,<br> relating a character in a film to their respective team member (Fun way, not hurting anyone)</td>
</tr>
<tr>
    <td>4</td>
    <td>Power play Rules:
            	10 questions will be posted, right answer 10 pts and wrong answer opponent get 10 pts<br> ( 2 lifeline available:  skip question)
                Team with leading points after 2 power play , will decide the presenter for next presentation.
            </td>
</tr>
<tr>
    <td>5</td>
    <td>Results will be published after every week by Suganya Venkatachalam.</td>
</tr>
<tr>
    <td>6</td>
    <td>Winning team after completion of edition 2.0, will choose a movie and restaurant.</td>
</tr>

</table>
</div>