<table>
<thead>
	<th>s.no</th>
	<th>Employee name</th>
	<th>Employee Id</th>
	<th>Designation</th>
	<th> team_name</th>
	<th>Busniess Unit</th> 
</thead>
<tbody>
	<tr *ngFor = 'let user of users'>
		<td>{{user.id}}</td>
		<td>{{user.empname}}</td>
		<td>{{user.empID}}</td>
		<td>{{user.designation}}</td>
		<td>{{user.team_name}}</td>
		<td>{{user.bu}}</td>
	</tr>
</tbody>

</table>	


	<!-- <div *ngFor = 'let user of users'>
		<ul>
		<li>
			<p> {{user.id}} - {{user.empname}} - {{user.empID}} - {{user.designation}} - {{user.team_name}} - {{user.bu}}</p>
		</li>
		</ul>
		
	</div> -->
	
	<router-outlet></router-outlet>