<!-- <div class="container-fluid">
		<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
			{{ userForm.value | json }}
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control is invalid" name="username" [(ngModel)]="empname">
			</div>
		</form>
	</div>
	
    <button class="btn btn-primary" (click) = "save()" >submit</button>

    <router-outlet></router-outlet>
     -->

<div style="float:left; margin-left: 200px">
    <img src="../../assets/images/unstoppable.png" style="height: 400px; width: 400px;">
    <h2 style="text-align: center"><i> SCORE </i></h2>
    <h2 style="text-align: center"><i>1939</i></h2>
</div>
<div style="float:right;  margin-right: 200px">
    <img src="../../assets/images/avengers.png" style="height: 400px; width: 400px;">
    <h2 style="text-align: center"><i>SCORE</i></h2>
    <h2 style="text-align: center"><i>1887</i></h2>
</div>



<router-outlet></router-outlet>