
<div class="flex-container ">
<div class="card">
        <img src = "../../assets/images/unstoppableee.png" alt="Avatar" style="width:100%">
        <div class="container">
                <div class="h1">score</div>
                <div class="h1" *ngIf="score[0].id % 2 != 0">{{score[0].feed1 + score[0].feed2 + score[0].feed3 + score[0].feed4 + score[0].feed5 + score[0].feed6}} </div>
                
        </div>

    </div>
    <div class="card">
        <img src = "../../assets/images/avengers.png" alt="Avatar" style="width:100%">
        <div class="container">
                <div class="h1" style="margin-top: 65px">score</div>
                <div class="h1" *ngIf="score[1].id % 2==0">{{score[1].feed1 + score[1].feed2 + score[1].feed3 + score[1].feed4 + score[1].feed5 + score[1].feed6}} </div>
                <!-- <h1 *ngFor="let scores of score">{{scores.feed1 + scores.feed2 + scores.feed3 + scores.feed4 + scores.feed5 + scores.feed6  }}</h1> -->
                <!-- <h1>{{score1}}</h1> -->
        </div>  
    </div>	
</div>

<router-outlet></router-outlet>