<div style="min-height: 520px">
<div style="float:left; margin-left: 200px">
    <img src="../../assets/images/unstoppable.png" style="height: 300px; width: 300px;">
    <h1 style="text-align: center"><i> SCORE </i></h1>
    <h1 style="text-align: center"><i>1939</i></h1>
</div>
<div style="float:right;  margin-right: 200px">
    <img src="../../assets/images/avengers.png" style="height: 300px; width: 300px;">
    <h1 style="text-align: center"><i>SCORE</i></h1>
    <h1 style="text-align: center"><i>1887</i></h1>
</div>
</div>
<footer >
        <div class="row copyright">
				<div class="col-md-12 text-center">
					<small class="block">&copy;copyright 2019 unstoppables</small> 
						<div>
						<small class="block">Designed by <a href="#" target="_blank">vignesh G R</a> </small>
					</div>
        <div>     
		<a href="#"><i class="icon-twitter"></i></a>&nbsp;
		<a href="#"><i class="icon-facebook"></i></a>&nbsp;
		<a href="#"><i class="icon-linkedin"></i></a>&nbsp;
        <a href="#"><i class="icon-dribbble"></i></a>&nbsp;
    </div>
</div>
</div>
</footer>




<router-outlet></router-outlet>