<div class="fh5co-loader"></div>
<div id="page"></div>
	<nav class="fh5co-nav sticky-top" role="navigation">
	
			<div class="container">
				<div class="row">
					<div class="col-xs-5">
						<div id="fh5co-logo"><a href="#">Make  A  Change<span>.</span></a></div>
					</div>
					<div class="col-xs-7 text-right menu-1">
						<nav>
						<ul>
							<li class="active"><a href="#">Home</a></li>
							<li class="has-dropdown">
								<a href="#">Events</a>
								<ul class="dropdown">
									<li><a href="#">Planner</a></li>
									<li><a href="#">Titles/Topics</a></li>
									<li><a href="#">Documents</a></li>
									<li><a href="#">Know The Rules</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a>Meet-THE-Team</a>
								<ul class="dropdown">
									<li><a routerLink="/team1">Unstoppable</a></li>
									<li><a routerLink="/team2">Avengers</a></li>
									<li><a routerLink="/meet">Meet THE Team</a>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="leaderboard.html">LeaderBoard</a>
								<ul class="dropdown">
									<li><a routerLink="/score">ScoreBoard</a></li>
									<li><a routerLink="/ratings">Submit The Ratings</a></li>
									<li><a href="#">Know Assesment</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
							<li class="btn-cta"><a href="#"><span>fun..</span></a></li>
						</ul>
					</nav>
					</div>
				</div>
				
			
		</div>
	</nav>


    <router-outlet></router-outlet>